$grey-1: #030F30;
$grey-2: #3F4350;
$act: #5753D0;
$text-color: white;

$z-index-sidebar: 1000;
$z-index-header:  1000;
$z-index-modal:   1010;

$sidebar-width: 300px;

$tablet-bp: 991px;
$mobile-bp: 575px;
$container: 1224px;