$grey-1: #030F30;
$grey-2: #3F4350;
$grey-3: #80868E;
$grey-4: #525962;
$grey-5: #949BA4;
$grey-6: #0C0F17;
$primary: #5753D0;
$secondary: #EEEFF1;
$tertiary: transparent;
$text-color: white;

$z-index-sidebar: 1000;
$z-index-header:  1000;
$z-index-modal:   1010;

$sidebar-width: 300px;

$tablet-bp: 991px;
$mobile-bp: 575px;
$container: 1224px;