@import 'vendor/reset';
@import 'vendor/font';
@import '_vars';
*{
  box-sizing: border-box;
}
body {
  font-family: Inter, sans-serif;
  font-weight: 400;
}

body h1{
  font-weight: 700;
}

.container{
  max-width: $container;
  width: 100%;
  margin: 0 auto;
}
.row{
  display: flex;
  &.wrap{
    flex-wrap: wrap;
  }
  &.align-center{
    align-items: center;
  }
}

@import 'blocks/page';
@import 'blocks/btn';
@import 'blocks/icons';
@import 'blocks/header';
@import 'blocks/main-screen';
@import 'blocks/forms';