@import 'vendor/reset';
@import 'vendor/font';
@import '_vars';
@import '_mixins';
@import 'blocks/text';


*, *:before, *:after {box-sizing:  border-box;}
body {
  font-family: Inter, sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  min-width: 375px;
}

main{
  min-height: 50vh;
}

.container{
  max-width: $container;
  width: 100%;
  margin: 0 auto;
  @include breakpoint($lg){
    padding: 0 90px;
    max-width: $lg;
  }
  @include breakpoint($xs){
    padding: 0 32px;
    max-width: $xs;
  }
  &-form{
    &_1{
      max-width: 352px;
    }
    &_2{
      max-width: 520px;
    }
    &_3{
      min-width: 342px;
    }
  }
}
.row{
  display: flex;
  &.wrap{
    flex-wrap: wrap;
  }
  &.align-center{
    align-items: center;
  }
}

@import 'blocks/page';
@import 'blocks/btn';
@import 'blocks/icons';
@import 'blocks/header';
@import 'blocks/main-screen';
@import 'blocks/forms';
@import 'blocks/expert-top';
@import 'blocks/tags';
@import 'blocks/category-top';
@import 'blocks/find-translator';
@import 'blocks/slider';
@import 'blocks/service-top';
@import 'blocks/reviews-top';
@import 'blocks/article-top';
@import 'blocks/footer';
@import 'blocks/step';
@import 'blocks/tabs';