@import 'vendor/reset';
@import 'vendor/font';
@import '_vars';
@import '_mixins';
@import 'blocks/text';


*, *:before, *:after {box-sizing:  border-box;}
body {
  font-family: Inter, sans-serif;
  font-weight: 400;
}

.container{
  max-width: $container;
  width: 100%;
  margin: 0 auto;
  @include breakpoint($tablet-bp){
    max-width: $tablet-bp;
  }
  @include breakpoint($mobile-bp){
    padding: 0 15px;
    max-width: $mobile-bp;
  }
}
.row{
  display: flex;
  &.wrap{
    flex-wrap: wrap;
  }
  &.align-center{
    align-items: center;
  }
}

@import 'blocks/page';
@import 'blocks/btn';
@import 'blocks/icons';
@import 'blocks/header';
@import 'blocks/main-screen';
@import 'blocks/forms';
@import 'blocks/expert-top';
@import 'blocks/tags';
@import 'blocks/category-top';
@import 'blocks/find-translator';
@import 'blocks/slider';
@import 'blocks/service-top';
@import 'blocks/reviews-top';
@import 'blocks/article-top';