.category-top {
  padding-top: 120px;
  background: #F6FAFE;
  .category-top__list {
    margin: 70px 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, 288px);
    grid-template-rows: repeat(2, 272px);
    grid-auto-rows: minmax(272px, auto);
    grid-auto-columns: 288px;
    grid-gap: 24px;
    grid-auto-flow: dense;
    @include breakpoint($lg){
      grid-template-columns: repeat(2, 288px);
      justify-content: center;
    }
    @include breakpoint($sm){
      display: block;
    }

    .category-top__item {
      position: relative;
      display: flex;
      flex-direction: column;
      background: #ffffff;
      padding: 27px 26px;
      border-radius: 8px;
      top: 0;
      transition: all 0.2s linear;
      color: inherit;
      @include breakpoint($sm){
        flex-direction: row;
        align-items: center;
        margin-bottom: 8px;
        &:nth-child(4){
          margin-bottom: 40px;
        }
      }

      &:hover{
        top: -8px;
        box-shadow: 0 4px 8px -2px rgba(0, 17, 61, 0.08);
        @include breakpoint($sm){
          top: 0;
        }
      }

      svg {
        width: 46px;
        height: 46px;
        @include breakpoint($sm){
          width: 36px;
          height: 36px;
        }
        fill: #B5BABF;
        transition: fill 0.2s linear;
      }
      &:hover svg{
        fill: $primary;
      }
      .category-top__header{
        @include breakpoint($sm){
          width: 50px;
          min-width: 50px;
        }
      }

      .category-top__content {
        margin-top: 24px;
        @include breakpoint($sm){
          margin-top: 0;
          margin-left: 10px;
        }
        .category-top__title{
          text-decoration: none;
          color: $grey-1;
          font-size: 24px;
          font-style: normal;
          font-weight: 600;
          line-height: 28px;
          transition: fill 0.2s linear;
        }
      }
      &:hover .category-top__content > .category-top__title{
        color: $primary;
      }

      .category-top__footer {
        margin-top: auto;
        @include breakpoint($sm){
          display: none;
        }
        .category-top__expert {
          font-size: 19px;
        }

        .category-top__price {
          margin-top: 12px;
          font-size: 19px;
        }
      }
      b {
        font-size: 24px;
        font-weight: 600;
        line-height: 28px;
      }
    }
  }
  .category-top__button{
    display: flex;
    justify-content: center;
    i.next{
      display: block;
      margin-left: 12px;
    }
  }
}
