.main-screen {
  height: 100vh;
  background: #E8F3F8;
  overflow: hidden;

  .container {
    height: inherit;

    > .row {
      height: inherit;
    }
  }

  .main-screen__left {
    margin: auto 0;
    width: 55%;
    z-index: 2;
    background: transparent;

    .main-screen__h1 {
      h1 {
        line-height: 56px;
      }
    }

    .main-screen__subtitle {
      margin: 24px 0;

      p {
        font-size: 21px;
        color: $grey-2;
        line-height: 28px;
      }
    }

    .main-screen__forms {
      margin-top: 48px;
    }

    .main-screen__btn{
      margin-top: 16px;
      display: flex;
      & .btn.white{
        max-width: 171px;
        width: 100%;
        margin-left: 16px;
        color: $grey-2;
      }
    }
  }

  .main-screen__right {
    position: relative;
    width: 45%;

    img {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      object-fit: contain;
      z-index: 1;
      object-position: bottom;
    }
  }
}
