.reviews-top {
  padding: 72px 0;

  .reviews-top__list {
    margin-top: 72px;
    column-count: 3;
    column-gap: 24px;
    .reviews-top__item {
      display: inline-block;
      margin-bottom: 24px;
      padding: 24px 36px;
      background: #F7F7F8;
      border-radius: 8px;
      .reviews-top__group {
        border-left: 1px solid #D7DADE;
        padding-left: 11px;
        .reviews-top__header {
          .reviews-top__name {
            display: block;
            text-decoration: none;
            color: $grey-1;
            line-height: 20px;
            font-size: 15px;
            font-weight: 700;
          }

          .reviews-top__specialty {
            color: $grey-4;
            font-size: 13px;
            font-weight: 400;
            line-height: 16px;
          }
        }

        .reviews-top__content {
          margin: 32px 0;
          padding: 8px 12px;
          background: #EEF5FC;
          border-radius: 0px 8px 8px 8px;
          color: $grey-2;
          font-size: 15px;
          line-height: 24px;
        }
      }

      .reviews-top__footer {
        display: flex;
        align-items: center;
        .reviews-top__image {
          margin-right: 9px;
          img {
            object-fit: cover;
            object-position: center;
            border-radius: 50%;
          }
        }

        .reviews-top__text {
          .reviews-top__specialist {
            text-decoration: none;
            font-size: 17px;
            font-weight: 500;
            line-height: 24px;
            margin-bottom: 2px;
            color: $grey-1;
            &:hover{
              color: $primary;
            }
          }

          .reviews-top__rating {
            display: flex;
            align-items: center;
            .rating__item {
              font-size: 13px;
              font-style: normal;
              font-weight: 600;
              line-height: 16px;
              color: $grey-1;
              margin-left: 4px;
            }

            .rating__count {
              font-size: 13px;
              font-style: normal;
              font-weight: 400;
              line-height: 16px;
              color: $grey-3;
              margin-left: 4px;
            }
          }
        }
      }
    }
  }
}