#step-3{
  .row{
    flex-wrap: nowrap;
    @include breakpoint($sm){
      flex-wrap: wrap;
    }
  }
}

.step {
  padding-top: 147px;
  @include breakpoint($sm){
    padding-top: 90px;
  }
  .container{
    @include breakpoint($sm){
      padding: 0 15px;
    }
  }
  .row {
    justify-content: space-between;
    flex-wrap: wrap;
    @include breakpoint($sm){
      flex-direction: column;
      align-items: center;
    }
  }

  .step__content {
    width: 60%;
    overflow-x: hidden;
    @include breakpoint($sm){
      width: 100%;
    }
    .step__wrapper{
      display: flex;
      width: 1000%;
      .step__item{
        width: 100%;
      }
    }

    .step-element {
      padding: 24px;
      width: 100%;
      background: #F7F7F8;
      border-radius: 8px;
      transition: all 0.2s linear;

      .step-element__count {
        font-size: 13px;
        font-style: normal;
        font-weight: 500;
        line-height: 16px;
        color: $grey-5;
        margin-bottom: 12px;
      }
      .step-element__title{
        color: $grey-6;
        margin-bottom: 32px;
        @include breakpoint($sm){
          text-align: left;
        }
      }
      .form-step_label{
        color: #525962;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
        margin-bottom: 12px;
      }
      .container-form_2{
        .form-step_label{
          margin-top: 24px;
          margin-bottom: 0;
        }
      }
      hr{
        margin: 24px 0;
        border: 1px solid #D7DADE;
      }
      .step-element__text{
        max-width: 520px;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
      }
      .form-step__content{
        margin: 24px 0;
        display: none;
        &.active{
          display: block;
        }
      }
      .form-step__date{
        display: flex;
        > .form-step__group:last-child{
          margin-left: 12px;
        }
      }
      .step-element__flex{
        &:first-child{
          padding-right: 24px;
          border-right: 1px solid #D7DADE;
          @include breakpoint($sm){
            padding-right: 0;
            border-right: none;
            border-bottom: 1px solid #D7DADE;
            padding-bottom: 24px;
          }
        }
        &:last-child{
          padding-left: 24px;
          @include breakpoint($sm){
            padding-left: 0;
            padding-top: 24px;
          }
        }
        > .btn{
          margin-top: 24px;
          width: 100%;
        }
      }
    }
  }

  .questions {
    width: 35%;
    @include breakpoint($sm){
      width: 100%;
    }
    .questions__list{
      margin-top: 24px;
      border: 1px solid #EEF0F1;
      border-radius: 4px;
      .questions__item{
        position: relative;
        &:last-child{
          border-bottom: none;
        }
        .questions__toggle{
          position: relative;
          padding: 16px 12px;
          display: flex;
          z-index: 10;
          justify-content: space-between;
          align-items: center;
          cursor: pointer;
          border-bottom: 1px solid #EEEFF1;
        }
        .questions__content{
          width: 100%;
          display: none;
          padding: 16px 12px;
          border-bottom: 1px solid #EEEFF1;
          background: #F7F7F8;
          &.active{
            display: block;
          }
        }
      }
    }
  }

  .step-element__btn {
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
    @include breakpoint($sm){
      flex-wrap: wrap;
      margin: 24px 0;
    }
    .btn:last-child{
      @include breakpoint($sm){
        margin-top: 8px;
        order: 1;
      }
    }
    .btn:first-child{
      @include breakpoint($sm){
        order: 2;
      }
    }
  }

}