main{
  h1{
    font-weight: 700;
    font-size: 52px;
    color: $grey-1;
  }
  h2{
    font-weight: 600;
    font-size: 40px;
    color: $grey-1;
    text-align: center;
  }
  h3{
    font-size: 24px;
    font-weight: 600;
    color: $grey-1;
  }
  a {
    text-decoration: none;
  }
}
