main{
  h1{
    font-weight: 700;
    font-size: 52px;
    color: $grey-1;
    @include breakpoint($lg){
      text-align: center;
      font-size: 44px;
    }
    @include breakpoint($sm){
      text-align: center;
      font-size: 36px;
    }
  }
  h2{
    font-weight: 600;
    font-size: 40px;
    color: $grey-1;
    text-align: center;
    @include breakpoint($lg){
      text-align: center;
      font-size: 36px;
    }
  }
  h3{
    font-size: 24px;
    font-weight: 600;
    color: $grey-1;
    @include breakpoint($lg){
      text-align: center;
      margin-bottom: 16px;
    }
  }
  a {
    text-decoration: none;
  }
  h4{
    font-size: 19px;
    font-weight: 600;
    line-height: 24px;
    color: $grey-1;
  }
}
