/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
    outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type=search] {
    -webkit-appearance: none;
    -moz-appearance: none;
    box-sizing: content-box;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
    display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
    font-size: 100%;
  /* 1 */
    -webkit-text-size-adjust: 100%;
  /* 2 */
    -ms-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
    outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
    outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
    border: 0;
  /* 1 */
    -ms-interpolation-mode: bicubic;
  /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
    margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
    margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
    border: 0;
  /* 1 */
    padding: 0;
    white-space: normal;
  /* 2 */
    *margin-left: -7px;
  /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
    font-size: 100%;
  /* 1 */
    margin: 0;
  /* 2 */
    vertical-align: baseline;
  /* 3 */
    *vertical-align: middle;
  /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
    line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
    text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
  /* 2 */
    cursor: pointer;
  /* 3 */
    *overflow: visible;
  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
    cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
  /* 1 */
    padding: 0;
  /* 2 */
    *height: 13px;
  /* 3 */
    *width: 13px;
  /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
    -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
    box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
    overflow: auto;
  /* 1 */
    vertical-align: top;
  /* 2 */
}

/**
 * Remove most spacing between table cells.
 */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
button,
input,
select,
textarea {
    color: #222;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

@font-face {
    font-family: 'Inter';
  src: local("Inter Thin BETA"), local("Inter-Thin-BETA"), url("../fonts/Inter/Inter-ThinBETA.woff2") format("woff2"), url("../fonts/Inter/Inter-ThinBETA.woff") format("woff"), url("../fonts/Inter/Inter-ThinBETA.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
    font-family: 'Inter';
  src: local("Inter Regular"), local("Inter-Regular"), url("../fonts/Inter/Inter-Regular.woff2") format("woff2"), url("../fonts/Inter/Inter-Regular.woff") format("woff"), url("../fonts/Inter/Inter-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
    font-family: 'Inter';
  src: local("Inter Bold"), local("Inter-Bold"), url("../fonts/Inter/Inter-Bold.woff2") format("woff2"), url("../fonts/Inter/Inter-Bold.woff") format("woff"), url("../fonts/Inter/Inter-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

main h1 {
    font-weight: 700;
    font-size: 52px;
    color: #030F30;
}

main h2 {
    font-weight: 600;
    font-size: 40px;
    color: #030F30;
    text-align: center;
}

main h3 {
    font-size: 24px;
    font-weight: 600;
    color: #030F30;
}

main a {
    text-decoration: none;
}

*, *:before, *:after {
    box-sizing: border-box;
}

body {
    font-family: Inter, sans-serif;
    font-weight: 400;
}

.container {
    max-width: 1224px;
    width: 100%;
    margin: 0 auto;
}

@media (max-width: 991px) {
    .container {
        max-width: 991px;
    }
}

@media (max-width: 575px) {
    .container {
        padding: 0 15px;
        max-width: 575px;
    }
}

.row {
    display: -ms-flexbox;
    display: flex;
}

.row.wrap {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.row.align-center {
    -ms-flex-align: center;
    align-items: center;
}

.page {
    min-height: 100vh;
    position: relative;
}

h1 {
    color: #030F30;
    font-size: 52px;
    font-weight: bold;
}

.btn {
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    box-shadow: none;
    outline: none;
    border: none;
    transition: all 0.2s linear;
    border-radius: 4px;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
}

.btn.secondary {
    background: #EEEFF1;
    color: #3F4350;
}

.btn.secondary:hover {
    background: #F4F5F6;
}

.btn.secondary:active {
    background: #E9EBED;
}

.btn.primary {
    background: #5753D0;
    color: white;
}

.btn.primary:hover {
    background: #615DD0;
}

.btn.primary:active {
    background: #4D49D0;
}

.btn.tertiary {
    background: transparent;
    color: #3F4350;
}

.btn.tertiary:hover {
    color: #5753D0;
}

.btn.tertiary:active {
    color: #4D49D0;
}

.btn.small {
    padding: 8px 16px;
    font-size: 15px;
}

.btn.medium {
    padding: 12px 24px;
    width: 195px;
}

.btn.big {
    padding: 18px 32px;
    font-size: 15px;
}

i.Aa {
    background: url("../images/input/Aa.svg");
    width: 16.8px;
    height: 10.65px;
    z-index: 2;
}

i.union {
    background: url("../images/input/Union.svg");
    width: 14.09px;
    height: 14px;
    z-index: 2;
}

i.location {
    width: 11.25px;
    height: 16.25px;
    z-index: 2;
    background: url("../images/input/icon_20_pin.svg") no-repeat center;
    background-size: cover;
}

i.dropdown {
    width: 14px;
    height: 7px;
    z-index: 2;
    background: url("../images/input/dropdown.svg") no-repeat center;
    background-size: cover;
}

i.rating {
    width: 12px;
    height: 12px;
    z-index: 2;
    background: url("../images/rating.svg") no-repeat center;
    background-size: cover;
}

i.double-sided.arrow {
    width: 20px;
    height: 6px;
    z-index: 2;
    background: url("../images/double-sided.svg") no-repeat center;
    background-size: cover;
}

i.next {
    width: 13px;
    height: 12px;
    z-index: 2;
    background: url("../images/next.svg") no-repeat center;
    background-size: cover;
}

header#header {
    background: transparent;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1000;
}

header#header .container {
    position: relative;
}

header#header .container:after {
    content: '';
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(0, 17, 61, 0.08);
}

header#header .header__logo {
    margin-right: auto;
}

header#header .row {
    height: 80px;
}

header#header nav.menu ul.menu__items {
    display: -ms-flexbox;
    display: flex;
}

header#header nav.menu ul.menu__items li.menu__item {
    margin-right: 32px;
}

header#header nav.menu ul.menu__items li.menu__item:last-child {
    margin-right: 0;
}

header#header nav.menu ul.menu__items li.menu__item a.menu__link {
    color: #030F30;
    text-decoration: none;
}

header#header nav.menu ul.menu__items li.menu__item a.menu__link:hover {
    color: #5753D0;
}

header#header .header__actions {
    margin-left: auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

header#header .header__actions .enter a {
    color: #030F30;
    text-decoration: none;
    margin-right: 24px;
}

header#header .header__actions .enter a:hover {
    color: #5753D0;
}

.main-screen {
    padding-top: 90px;
    height: 80vh;
    min-height: 600px;
    background: #E8F3F8;
    overflow: hidden;
}

.main-screen .container {
    height: 100%;
}

.main-screen .container > .row {
    height: inherit;
}

.main-screen .main-screen__left {
    margin: auto 0;
    width: 55%;
    z-index: 2;
    background: transparent;
}

.main-screen .main-screen__left .main-screen__h1 h1 {
    line-height: 56px;
}

.main-screen .main-screen__left .main-screen__subtitle {
    margin: 24px 0;
}

.main-screen .main-screen__left .main-screen__subtitle p {
    font-size: 21px;
    color: #3F4350;
    line-height: 28px;
}

.main-screen .main-screen__left .main-screen__forms {
    margin-top: 48px;
}

.main-screen .main-screen__left .main-screen__btn {
    margin-top: 16px;
    display: -ms-flexbox;
    display: flex;
}

.main-screen .main-screen__left .main-screen__btn .btn.secondary {
    margin-left: 16px;
}

.main-screen .main-screen__right {
    position: relative;
    width: 45%;
}

.main-screen .main-screen__right img {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
    z-index: 1;
    -o-object-position: bottom;
    object-position: bottom;
}

form.forms-language {
    overflow: hidden;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

form.forms-language .forms-language__group {
    max-width: 321px;
    width: 100%;
    position: relative;
    margin: 8px 8px 0 0;
    overflow: hidden;
}

form.forms-language .forms-language__group.dropdown-group {
    position: relative;
}

form.forms-language .forms-language__group.dropdown-group input.dropdown {
    padding-left: 12px;
}

form.forms-language .forms-language__group.dropdown-group input.dropdown + label {
    left: 12px;
}

form.forms-language .forms-language__group.dropdown-group i.dropdown {
    content: '-';
    position: absolute;
    right: 12px;
    top: 25px;
    cursor: pointer;
}

form.forms-language .forms-language__group:nth-child(even) {
    margin-right: 0;
}

form.forms-language .forms-language__group i.Aa, form.forms-language .forms-language__group i.union, form.forms-language .forms-language__group i.location {
    position: absolute;
    top: 38%;
    left: 14px;
}

form.forms-language .forms-language__group input {
    padding-left: 40px;
    width: 100%;
    height: 56px;
    outline: none;
    border: none;
    font-size: 15px;
    position: relative;
    padding-top: 11px;
}

form.forms-language .forms-language__group input:focus + label {
    top: 7px;
    color: #525962;
    font-size: 13px;
}

form.forms-language .forms-language__group label {
    font-size: 15px;
    position: absolute;
    left: 40px;
    top: 21px;
    z-index: 2;
    transition: all 80ms linear;
    color: #80868E;
}

form.forms-language .forms-language__group label.active {
    top: 7px;
    color: #525962;
    font-size: 13px;
}

.expert-top {
    background: #F6FAFE;
    padding-top: 120px;
}

.expert-top .expert-top__title {
    text-align: center;
}

.expert-top .expert-top__title h2.expert-top__h2 {
    color: #030F30;
    font-weight: 600;
    font-size: 40px;
}

.expert-top .expert {
    margin: 70px 0;
}

.expert-top .expert .expert__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 288px);
    grid-template-rows: minmax(400px, auto);
    grid-auto-rows: minmax(400px, auto);
    grid-auto-columns: 288px;
    grid-gap: 24px;
    grid-auto-flow: dense;
}

.expert-top .expert .expert__list .expert__item {
    position: relative;
    top: 0;
    background: #ffffff;
    overflow: hidden;
    border-radius: 8px;
    transition: all 0.2s linear;
}

.expert-top .expert .expert__list .expert__item:hover {
    top: -8px;
    box-shadow: 0 4px 8px -2px rgba(0, 17, 61, 0.08);
}

.expert-top .expert .expert__list .expert__item .expert__header {
    position: relative;
    height: 200px;
}

.expert-top .expert .expert__list .expert__item .expert__header img.expert__image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: top;
    object-position: top;
    z-index: 1;
}

.expert-top .expert .expert__list .expert__item .expert__header .expert__rating {
    background: rgba(0, 14, 51, 0.08);
    border-radius: 4px;
    padding: 8px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    position: absolute;
    bottom: 23px;
    left: 19px;
    z-index: 2;
}

.expert-top .expert .expert__list .expert__item .expert__header .expert__rating .rating-text {
    margin-left: 4px;
    color: white;
    font-size: 13px;
}

.expert-top .expert .expert__list .expert__item .expert-top__middle {
    padding: 19px 24px;
}

.expert-top .expert .expert__list .expert__item .expert-top__middle a.expert__link {
    text-decoration: none;
    color: #030F30;
    font-size: 19px;
    font-weight: 600;
    line-height: 24px;
}

.expert-top .expert .expert__list .expert__item .expert-top__middle a.expert__link:hover {
    color: #5753D0;
}

.expert-top .expert .expert__list .expert__item .expert-top__middle .expert__location {
    display: block;
    width: 100%;
    color: #80868E;
    font-size: 15px;
    margin-top: 4px;
    line-height: 24px;
}

.expert-top .expert .expert__list .expert__item .expert-top__footer {
    padding: 0px 24px 19px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.expert-top .expert-top__button {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
}

.expert-top .expert-top__button i.next {
    display: block;
    margin-left: 12px;
}

.translate-tag {
    margin: 3px 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: 4px 12px 4px 4px;
    background: #F7F7F8;
    border-radius: 100px;
    transition: all 0.1s linear;
    text-decoration: none;
    cursor: pointer;
}

.translate-tag:hover {
    background: #EEF0F1;
}

.translate-tag .translate__images {
    width: 45px;
    height: 24px;
    position: relative;
}

.translate-tag .translate__images .translate-tag__from_image {
    width: 24px;
    height: 24px;
    position: absolute;
    z-index: 3;
    left: 0;
    top: 0;
}

.translate-tag .translate__images .translate-tag__to_image {
    border-left: 3px solid #F7F7F8;
    border-bottom-left-radius: 50%;
    border-top-left-radius: 50%;
    width: 24px;
    height: 24px;
    position: absolute;
    z-index: 4;
    left: 18px;
    top: 0;
}

.translate-tag .translate__images img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
}

.translate-tag .translate__text {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.translate-tag .translate__text span {
    color: #636B75;
    font-size: 13px;
    margin: 0 4px;
}

.translate-tag .translate__text i.double-sided.arrow {
    display: block;
    width: 20px;
    height: 6px;
    margin: 0 4px;
}

.view-tag {
    cursor: pointer;
    margin: 3px 0;
    padding: 8px 12px;
    background: #F7F7F8;
    border-radius: 100px;
    font-size: 13px;
    color: #636B75;
    transition: all 0.1s linear;
    text-decoration: none;
}

.view-tag:hover {
    background: #EEF0F1;
}

.category-top {
    padding-top: 120px;
    background: #F6FAFE;
}

.category-top .category-top__list {
    margin: 70px 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, 288px);
    grid-template-rows: repeat(2, 272px);
    grid-auto-rows: minmax(272px, auto);
    grid-auto-columns: 288px;
    grid-gap: 24px;
    grid-auto-flow: dense;
}

.category-top .category-top__list .category-top__item {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    background: #ffffff;
    padding: 27px 26px;
    border-radius: 8px;
    top: 0;
    transition: all 0.2s linear;
}

.category-top .category-top__list .category-top__item:hover {
    top: -8px;
    box-shadow: 0 4px 8px -2px rgba(0, 17, 61, 0.08);
}

.category-top .category-top__list .category-top__item svg {
    fill: #B5BABF;
    transition: fill 0.2s linear;
}

.category-top .category-top__list .category-top__item:hover svg {
    fill: #5753D0;
}

.category-top .category-top__list .category-top__item .category-top__content {
    margin-top: 24px;
}

.category-top .category-top__list .category-top__item .category-top__content .category-top__link {
    text-decoration: none;
    color: #030F30;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
}

.category-top .category-top__list .category-top__item .category-top__content .category-top__link:hover {
    color: #5753D0;
}

.category-top .category-top__list .category-top__item .category-top__footer {
    margin-top: auto;
}

.category-top .category-top__list .category-top__item .category-top__footer .category-top__expert {
    font-size: 19px;
}

.category-top .category-top__list .category-top__item .category-top__footer .category-top__price {
    margin-top: 12px;
    font-size: 19px;
}

.category-top .category-top__list .category-top__item b {
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
}

.category-top .category-top__button {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
}

.category-top .category-top__button i.next {
    display: block;
    margin-left: 12px;
}

.find-translator {
    padding: 120px 0 72px;
    background: #F6FAFE;
}

.find-translator {
    padding-bottom: 90px;
}

.find-translator .container .slider {
    margin-top: 72px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.find-translator .container .slider .slider__info {
    width: 45%;
    overflow: hidden;
    height: 550px;
}

.find-translator .container .slider .slider__info .slider__info_item {
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
}

.find-translator .container .slider .slider__info .slider__info_item .slider__bar {
    -ms-flex-positive: 0;
    flex-grow: 0;
    width: 2px;
    margin-right: 22px;
    border-radius: 2px;
    background: #B5BABF;
}

.find-translator .container .slider .slider__info .slider__info_item .slider__bar .slider__progress {
    width: 2px;
    border-radius: 2px;
    background: #030F30;
    will-change: height, background;
    transition: height .1s linear;
}

.find-translator .container .slider .slider__info .slider__info_item .slider__text .slider__h3 {
    margin-bottom: 16px;
}

.find-translator .container .slider .slider__info .slider__info_item .slider__text .slider__h3 > h3 {
    color: #80868E;
}

.find-translator .container .slider .slider__info .slider__info_item .slider__text .slider__subtitle {
    color: #80868E;
    font-weight: 400;
    font-size: 19px;
    line-height: 28px;
}

.find-translator .container .slider .slider__info .slider__info_item.active .slider__text .slider__h3 > h3 {
    color: #030F30;
}

.find-translator .container .slider .slider__info .slider__info_item.active .slider__text .slider__subtitle {
    color: #3F4350;
}

.find-translator .container .slider .slider__content {
    position: relative;
    width: 50%;
    z-index: 1;
    overflow: hidden;
}

.find-translator .container .slider .slider__content .content-wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.find-translator .container .slider .slider__content .slider__content_item .slider__image {
    width: inherit;
    height: inherit;
}

.find-translator .container .slider .slider__content .slider__content_item .slider__image img {
    width: 100%;
    height: auto;
}

.service-top {
    padding: 72px 0;
}

.service-top .container .service-top__title {
    text-align: center;
}

.service-top .container .service-top__list {
    margin-top: 72px;
    display: grid;
    grid-template-columns: 480px 247px 480px;
    grid-template-rows: 266px;
    grid-auto-columns: 480px 247px 480px;
    grid-auto-rows: 266px;
    grid-gap: 24px;
}

.service-top .container .service-top__list .service-top__item {
    overflow: hidden;
    background: #EEF5FC;
    border-radius: 8px;
    display: -ms-flexbox;
    display: flex;
    padding: 32px;
    position: relative;
}

.service-top .container .service-top__list .service-top__item.big.left {
    grid-column: 1 / 3;
}

.service-top .container .service-top__list .service-top__item.big.right {
    grid-column: 2 / 4;
}

.service-top .container .service-top__list .service-top__item.small.left {
    grid-column: 1 / 2;
}

.service-top .container .service-top__list .service-top__item.small.right {
    grid-column: 3 / 4;
}

.service-top .container .service-top__list .service-top__item.primary {
    background: linear-gradient(82.23deg, #5C87FF 0%, #6F83E7 65.61%, #6A6AE2 100%);
}

.service-top .container .service-top__list .service-top__item .service-top__left {
    z-index: 2;
    width: 60%;
}

.service-top .container .service-top__list .service-top__item .service-top__left.full {
    width: 100%;
}

.service-top .container .service-top__list .service-top__item .service-top__left .service-top__h3 {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    color: #030F30;
}

.service-top .container .service-top__list .service-top__item .service-top__left .service-top__text {
    color: #3F4350;
    margin-top: 16px;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

.service-top .container .service-top__list .service-top__item .service-top__left.primary .service-top__h3, .service-top .container .service-top__list .service-top__item .service-top__left.primary .service-top__text {
    color: white;
}

.service-top .container .service-top__list .service-top__item .service-top__right.glob {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
}

.service-top .container .service-top__list .service-top__item .service-top__right.check {
    margin-left: auto;
}

.service-top .container .service-top__list .service-top__item .service-top__right img {
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: bottom;
    object-position: bottom;
    width: 100%;
    height: 100%;
}

.reviews-top {
    padding: 72px 0;
}

.reviews-top .reviews-top__list {
    margin-top: 72px;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 24px;
    -moz-column-gap: 24px;
    column-gap: 24px;
}

.reviews-top .reviews-top__list .reviews-top__item {
    display: inline-block;
    margin-bottom: 24px;
    padding: 24px 36px;
    background: #F7F7F8;
    border-radius: 8px;
}

.reviews-top .reviews-top__list .reviews-top__item .reviews-top__group {
    border-left: 1px solid #D7DADE;
    padding-left: 11px;
}

.reviews-top .reviews-top__list .reviews-top__item .reviews-top__group .reviews-top__header .reviews-top__name {
    display: block;
    text-decoration: none;
    color: #030F30;
    line-height: 20px;
    font-size: 15px;
    font-weight: 700;
}

.reviews-top .reviews-top__list .reviews-top__item .reviews-top__group .reviews-top__header .reviews-top__specialty {
    color: #525962;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
}

.reviews-top .reviews-top__list .reviews-top__item .reviews-top__group .reviews-top__content {
    margin: 32px 0;
    padding: 8px 12px;
    background: #EEF5FC;
    border-radius: 0px 8px 8px 8px;
    color: #3F4350;
    font-size: 15px;
    line-height: 24px;
}

.reviews-top .reviews-top__list .reviews-top__item .reviews-top__footer {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.reviews-top .reviews-top__list .reviews-top__item .reviews-top__footer .reviews-top__image {
    margin-right: 9px;
}

.reviews-top .reviews-top__list .reviews-top__item .reviews-top__footer .reviews-top__image img {
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: center;
    object-position: center;
    border-radius: 50%;
}

.reviews-top .reviews-top__list .reviews-top__item .reviews-top__footer .reviews-top__text .reviews-top__specialist {
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 2px;
    color: #030F30;
}

.reviews-top .reviews-top__list .reviews-top__item .reviews-top__footer .reviews-top__text .reviews-top__specialist:hover {
    color: #5753D0;
}

.reviews-top .reviews-top__list .reviews-top__item .reviews-top__footer .reviews-top__text .reviews-top__rating {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.reviews-top .reviews-top__list .reviews-top__item .reviews-top__footer .reviews-top__text .reviews-top__rating .rating__item {
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
    color: #030F30;
    margin-left: 4px;
}

.reviews-top .reviews-top__list .reviews-top__item .reviews-top__footer .reviews-top__text .reviews-top__rating .rating__count {
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    color: #80868E;
    margin-left: 4px;
}

.article-top {
    padding: 72px;
}

.article-top .container .article-top__title .article-top__h2 {
    text-align: center;
}

.article-top .container .article-top__list {
    margin-top: 72px;
    display: grid;
    grid-template-columns: repeat(3, 376px);
    grid-template-rows: auto;
    grid-gap: 47px;
}

.article-top .container .article-top__list .article-top__item .article-top__header {
    position: relative;
}

.article-top .container .article-top__list .article-top__item .article-top__header .article-top__link_header {
    display: block;
    text-decoration: none;
    height: 207px;
}

.article-top .container .article-top__list .article-top__item .article-top__header .article-top__link_header .article-top__image {
    border-radius: 8px;
    -o-object-fit: cover;
    object-fit: cover;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.article-top .container .article-top__list .article-top__item .article-top__header .article-top__link_header .article-top__time {
    position: absolute;
    padding: 6px 8px;
    bottom: 12px;
    left: 21px;
    background: rgba(0, 14, 51, 0.08);
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
    color: white;
}

.article-top .container .article-top__list .article-top__item .article-top__content {
    margin-top: 24px;
}

.article-top .container .article-top__list .article-top__item .article-top__content .article-top__link_content {
    color: #030F30;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
}

.article-top .container .article-top__list .article-top__item .article-top__content .article-top__link_content:hover {
    color: #5753D0;
}

footer {
    z-index: 1;
    margin-top: -10px;
    background: linear-gradient(1.22deg, #E0F0F5 49.63%, #FFFFFF 98.96%);
    padding-top: 72px;
}
