<!--article-top-->
<div class="article-top">
    <div class="container">
        <div class="article-top__title">
            <h2 class="article-top__h2">Или выберите нужную категорию</h2>
        </div>

        <div class="article-top__list">

            <article class="article-top__item">
                <div class="article-top__header">
                    <a href="#" class="article-top__link_header">
                        <img class="article-top__image" src="assets/images/article/page.jpg" alt=""/>
                        <time class="article-top__time" datetime="2020-05-4 19:00">4 мая 2020</time>
                    </a>
                </div>
                <div class="article-top__content">
                    <a href="#" class="article-top__link_content">
                        Разработка мультиязычного сайта: пошаговая инструкция
                    </a>
                </div>
            </article>

            <article class="article-top__item">
                <div class="article-top__header">
                    <a href="#" class="article-top__link_header">
                        <img class="article-top__image" src="assets/images/article/page.jpg" alt=""/>
                        <time class="article-top__time" datetime="2020-05-4 19:00">4 мая 2020</time>
                    </a>
                </div>
                <div class="article-top__content">
                    <a href="#" class="article-top__link_content">
                        Разработка мультиязычного сайта: пошаговая инструкция
                    </a>
                </div>
            </article>

            <article class="article-top__item">
                <div class="article-top__header">
                    <a href="#" class="article-top__link_header">
                        <img class="article-top__image" src="assets/images/article/page.jpg" alt=""/>
                        <time class="article-top__time" datetime="2020-05-4 19:00">4 мая 2020</time>
                    </a>
                </div>
                <div class="article-top__content">
                    <a href="#" class="article-top__link_content">
                        Разработка мультиязычного сайта: пошаговая инструкция
                    </a>
                </div>
            </article>

        </div>

    </div>
</div>
<!--end article-top-->