<!--expert-top-->
<div class="expert-top">
    <div class="container">
        <div class="expert-top__title">
            <h2 class="expert-top__h2">Найдите подходящего специалиста в каталоге</h2>
        </div>
        <div class="expert">
            <div class="expert__mobile">
                <img src="assets/images/expert/mobile.jpg" alt="">
            </div>
            <div class="expert__list">
                <div class="expert__item">
                    <div class="expert__header">
                        <img class="expert__image" src="assets/images/expert/woman.jpg" alt=""/>
                        <div class="expert__rating">
                            <i class="rating"></i>
                            <span class="rating-text">4.9</span>
                        </div>
                    </div>
                    <div class="expert-top__middle">
                        <a class="expert__link" href="#">Александра Б.</a>
                        <span class="expert__location">Санкт-Петербург</span>
                    </div>
                    <div class="expert-top__footer">

                        <div class="translate-tag">
                            <div class="translate__images">
                                <img class="translate-tag__from_image" src="assets/images/lang/ru.png" alt=""/>
                                <img class="translate-tag__to_image" src="assets/images/lang/en.png" alt=""/>
                            </div>
                            <div class="translate__text">
                                <span class="translate-tag__from_text">Русский</span>
                                <i class="double-sided arrow"></i>
                                <span class="translate-tag__to_text">Английский</span>
                            </div>
                        </div>

                        <div class="view-tag">Последовательный перевод</div>
                        <div class="view-tag">Локализация приложений</div>

                    </div>
                </div>

                <div class="expert__item">
                    <div class="expert__header">
                        <img class="expert__image" src="assets/images/expert/woman.jpg" alt=""/>
                        <div class="expert__rating">
                            <i class="rating"></i>
                            <span class="rating-text">4.9</span>
                        </div>
                    </div>
                    <div class="expert-top__middle">
                        <a class="expert__link" href="#">Александра Б.</a>
                        <span class="expert__location">Санкт-Петербург</span>
                    </div>
                    <div class="expert-top__footer">

                        <div class="translate-tag">
                            <div class="translate__images">
                                <img class="translate-tag__from_image" src="assets/images/lang/ru.png" alt=""/>
                                <img class="translate-tag__to_image" src="assets/images/lang/en.png" alt=""/>
                            </div>
                            <div class="translate__text">
                                <span class="translate-tag__from_text">Русский</span>
                                <i class="double-sided arrow"></i>
                                <span class="translate-tag__to_text">Английский</span>
                            </div>
                        </div>

                        <div class="view-tag">Последовательный перевод</div>
                        <div class="view-tag">Локализация приложений</div>

                    </div>
                </div>

                <div class="expert__item">
                    <div class="expert__header">
                        <img class="expert__image" src="assets/images/expert/woman.jpg" alt=""/>
                        <div class="expert__rating">
                            <i class="rating"></i>
                            <span class="rating-text">4.9</span>
                        </div>
                    </div>
                    <div class="expert-top__middle">
                        <a class="expert__link" href="#">Александра Б.</a>
                        <span class="expert__location">Санкт-Петербург</span>
                    </div>
                    <div class="expert-top__footer">

                        <div class="translate-tag">
                            <div class="translate__images">
                                <img class="translate-tag__from_image" src="assets/images/lang/ru.png" alt=""/>
                                <img class="translate-tag__to_image" src="assets/images/lang/en.png" alt=""/>
                            </div>
                            <div class="translate__text">
                                <span class="translate-tag__from_text">Русский</span>
                                <i class="double-sided arrow"></i>
                                <span class="translate-tag__to_text">Английский</span>
                            </div>
                        </div>

                        <div class="view-tag">Последовательный перевод</div>
                        <div class="view-tag">Локализация приложений</div>

                    </div>
                </div>

                <div class="expert__item">
                    <div class="expert__header">
                        <img class="expert__image" src="assets/images/expert/woman.jpg" alt=""/>
                        <div class="expert__rating">
                            <i class="rating"></i>
                            <span class="rating-text">4.9</span>
                        </div>
                    </div>
                    <div class="expert-top__middle">
                        <a class="expert__link" href="#">Александра Б.</a>
                        <span class="expert__location">Санкт-Петербург</span>
                    </div>
                    <div class="expert-top__footer">

                        <div class="translate-tag">
                            <div class="translate__images">
                                <img class="translate-tag__from_image" src="assets/images/lang/ru.png" alt=""/>
                                <img class="translate-tag__to_image" src="assets/images/lang/en.png" alt=""/>
                            </div>
                            <div class="translate__text">
                                <span class="translate-tag__from_text">Русский</span>
                                <i class="double-sided arrow"></i>
                                <span class="translate-tag__to_text">Английский</span>
                            </div>
                        </div>

                        <div class="view-tag">Последовательный перевод</div>
                        <div class="view-tag">Локализация приложений</div>

                    </div>
                </div>

            </div>
        </div>

        <div class="expert-top__button">
            <a href="#" class="btn big primary">Перейти в каталог<i class="next"></i></a>
        </div>
    </div>
</div>
<!--end expert-top-->