<footer id="footer" class="footer">
    <div class="container">
        <div class="footer__title">
            <h2 class="footer__h2">Найти переводчика — легко</h2>
            <div class="footer__subtitle">
                Уже через пару минут вы начнете получать предложения от специалистов, готовых выполнить ваше задание
            </div>
        </div>

        <form action="#" class="forms-language">
            <div class="forms-language__group">
                <i class="Aa"></i>
                <input id="forms-language__original footer" type="text" name="forms-language__original"
                       class="forms-language__original"/>
                <label for="forms-language__original footer">Язык оригинала</label>
            </div>
            <div class="forms-language__group">
                <i class="union"></i>
                <input id="forms-language__translation footer" type="text" name="forms-language__translation_footer"
                       class="forms-language__translation"/>
                <label for="forms-language__translation footer">Язык перевода</label>
            </div>
            <div class="forms-language__group dropdown-group">
                <i class="dropdown"></i>
                <input id="forms-language__view footer" class="forms-language__view dropdown"
                       name="forms-language__view footer"/>
                <label for="forms-language__view footer">Вид перевода</label>
            </div>
            <div class="forms-language__group">
                <i class="location"></i>
                <input id="forms-language__location footer" type="text" name="forms-language__location"
                       class="language__location"/>
                <label for="forms-language__location footer">Город</label>
            </div>
            <div class="footer__btn">
                <button type="submit" class="btn primary big">
                    Найти переводчика
                </button>
                <button type="button" class="btn secondary big">
                    Создать заказ
                </button>
            </div>
        </form>

        <div class="footer__sub">
            <div class="footer__item">
                <div class="footer__logo">
                    <a href="/">
                        <img src="assets/images/header/logo.png" alt="logo"/>
                    </a>
                </div>
                <div class="footer__mail">
                    <a href="mailto:hello@belingua.ru">hello@belingua.ru</a>
                </div>
                <div class="footer__address">
                    104250, г. Москва, ул. Ленина 24,
                    БЦ «Невский», 16 этаж, офис 306
                </div>
            </div>

            <div class="footer__item align-center">
                <div class="menu">
                    <ul class="menu__list">
                        <li class="menu__title">Заказчикам</li>
                        <li class="menu__item">
                            <a href="#" class="menu__link">Личный кабинет</a>
                        </li>
                        <li class="menu__item">
                            <a href="#" class="menu__link">Каталог переводчиков</a>
                        </li>
                        <li class="menu__item">
                            <a href="#" class="menu__link">Создать заказ</a>
                        </li>
                        <li class="menu__item">
                            <a href="#" class="menu__link">Частые вопросы</a>
                        </li>
                        <li class="menu__item">
                            <a href="#" class="menu__link">Блог</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="footer__item align-center">
                <div class="menu">
                    <ul class="menu__list">
                        <li class="menu__title">Переводчикам</li>
                        <li class="menu__item">
                            <a href="#" class="menu__link">Стать переводчиком</a>
                        </li>
                        <li class="menu__item">
                            <a href="#" class="menu__link">Кабинет переводчика</a>
                        </li>
                        <li class="menu__item">
                            <a href="#" class="menu__link">Найти заказ</a>
                        </li>
                        <li class="menu__item">
                            <a href="#" class="menu__link">Каталог заказов</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="footer__item align-center">
                <div class="menu social">

                    <ul class="menu__list social">
                        <li class="menu__title social">Связаться с нами</li>
                        <li class="menu__item social">
                            <a href="#" class="menu__link social">Твиттер</a>
                        </li>
                        <li class="menu__item social">
                            <a href="#" class="menu__link social">Телеграмм</a>
                        </li>
                        <li class="menu__item social">
                            <a href="#" class="menu__link social">Вконтакте</a>
                        </li>
                        <li class="menu__item social">
                            <a href="#" class="menu__link social">Инстаграмм</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="copyright__left">
                    <span class="copy">© Belingua 2021</span>
                </div>
                <div class="copyright__right">
                    <a href="#">Политика конфиденциальности</a>
                    <a href="#">Лицензионное соглашение</a>
                </div>
            </div>
        </div>
    </div>

</footer>