<!--<footer id="footer" class="footer">-->
<!--    <div class="container">-->
<!--        <div class="footer__title">-->
<!--            <h2 class="footer__h2">Найти переводчика — легко</h2>-->
<!--            <div class="footer__subtitle">-->
<!--                Уже через пару минут вы начнете получать предложения от специалистов, готовых выполнить ваше задание-->
<!--            </div>-->
<!--        </div>-->

<!--        <form action="#" class="forms-language">-->
<!--            <div class="forms-language__group">-->
<!--                <i class="Aa"></i>-->
<!--                <input id="forms-language__original" type="text" name="forms-language__original"-->
<!--                       class="forms-language__original"/>-->
<!--                <label for="forms-language__original">Язык оригинала</label>-->
<!--            </div>-->
<!--            <div class="forms-language__group">-->
<!--                <i class="union"></i>-->
<!--                <input id="forms-language__translation" type="text" name="forms-language__translation"-->
<!--                       class="forms-language__translation"/>-->
<!--                <label for="forms-language__translation">Язык перевода</label>-->
<!--            </div>-->
<!--            <div class="forms-language__group dropdown-group">-->
<!--                <i class="dropdown"></i>-->
<!--                <input id="forms-language__view" class="forms-language__view dropdown"-->
<!--                       name="forms-language__view"/>-->
<!--                <label for="forms-language__view">Вид перевода</label>-->
<!--            </div>-->
<!--            <div class="forms-language__group">-->
<!--                <i class="location"></i>-->
<!--                <input id="forms-language__location" type="text" name="forms-language__location"-->
<!--                       class="language__location"/>-->
<!--                <label for="forms-language__location">Город</label>-->
<!--            </div>-->
<!--            <div class="main-screen__btn">-->
<!--                <button type="submit" class="btn primary big">-->
<!--                    Найти переводчика-->
<!--                </button>-->
<!--                <button type="button" class="btn secondary big">-->
<!--                    Создать заказ-->
<!--                </button>-->
<!--            </div>-->
<!--        </form>-->

<!--    </div>-->
<!--</footer>-->