<footer id="footer" class="footer">
    <div class="container">

        <div class="footer__sub">
            <div class="footer__item">
                <div class="footer__logo">
                    <a href="/">
                        <img src="assets/images/header/logo.png" alt="logo"/>
                    </a>
                </div>
                <div class="footer__mail">
                    <a href="mailto:hello@belingua.ru">hello@belingua.ru</a>
                </div>
                <div class="footer__address">
                    104250, г. Москва, ул. Ленина 24,
                    БЦ «Невский», 16 этаж, офис 306
                </div>
            </div>

            <div class="footer__item align-center">
                <div class="menu">
                    <ul class="menu__list">
                        <li class="menu__title">Заказчикам</li>
                        <li class="menu__item">
                            <a href="#" class="menu__link">Личный кабинет</a>
                        </li>
                        <li class="menu__item">
                            <a href="#" class="menu__link">Каталог переводчиков</a>
                        </li>
                        <li class="menu__item">
                            <a href="#" class="menu__link">Создать заказ</a>
                        </li>
                        <li class="menu__item">
                            <a href="#" class="menu__link">Частые вопросы</a>
                        </li>
                        <li class="menu__item">
                            <a href="#" class="menu__link">Блог</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="footer__item align-center">
                <div class="menu">
                    <ul class="menu__list">
                        <li class="menu__title">Переводчикам</li>
                        <li class="menu__item">
                            <a href="#" class="menu__link">Стать переводчиком</a>
                        </li>
                        <li class="menu__item">
                            <a href="#" class="menu__link">Кабинет переводчика</a>
                        </li>
                        <li class="menu__item">
                            <a href="#" class="menu__link">Найти заказ</a>
                        </li>
                        <li class="menu__item">
                            <a href="#" class="menu__link">Каталог заказов</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="footer__item align-center">
                <div class="menu social">

                    <ul class="menu__list social">
                        <li class="menu__title social">Связаться с нами</li>
                        <li class="menu__item social">
                            <a href="#" class="menu__link social">Твиттер</a>
                        </li>
                        <li class="menu__item social">
                            <a href="#" class="menu__link social">Телеграмм</a>
                        </li>
                        <li class="menu__item social">
                            <a href="#" class="menu__link social">Вконтакте</a>
                        </li>
                        <li class="menu__item social">
                            <a href="#" class="menu__link social">Инстаграмм</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="copyright__left">
                    <span class="copy">© Belingua 2021</span>
                </div>
                <div class="copyright__right">
                    <a href="#">Политика конфиденциальности</a>
                    <a href="#">Лицензионное соглашение</a>
                </div>
            </div>
        </div>
    </div>

</footer>