<!--reviews-top-->
<div class="reviews-top">
    <div class="container">
        <div class="reviews-top__title">
            <h2 class="reviews-top__h2">Найдите переводчика за несколько минут</h2>
        </div>
        <div class="reviews-top__list">

            <div class="reviews-top__item">
                <div class="reviews-top__group">
                    <div class="reviews-top__header">
                        <span href="#" class="reviews-top__name">Александра Козлова</span>
                        <span class="reviews-top__specialty">Синхронный перевод с турецкого на русский</span>
                    </div>
                    <div class="reviews-top__content">
                        Сергей замечательный переводчик
                        и человек! Осуществлял устный перевод
                        с турецкого на фестивале искусства. Никаких нареканий к работе, перевод, коммуникация на высшем
                        уровне, очень помог во всем. Работать с Сергеем одно удовольствие, уверена, обратимся
                        к нему еще не раз. И организаторы фестиваля и художник очень благодарны за его работу.
                    </div>
                </div>
                <div class="reviews-top__footer">
                    <div class="reviews-top__image">
                        <img src="assets/images/reviews-top/man.png" alt=""/>
                    </div>
                    <div class="reviews-top__text">
                        <a href="#" class="reviews-top__specialist">Сергей Валиев</a>
                        <div class="reviews-top__rating">
                            <i class="rating"></i>
                            <span class="rating__item">4.9</span>
                            <span class="rating__count">(201 отзыв)</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="reviews-top__item">
                <div class="reviews-top__group">
                    <div class="reviews-top__header">
                        <span class="reviews-top__name">Татьяна Ярошенко</span>
                        <span class="reviews-top__specialty">Перевод текста с китайского на русский</span>
                    </div>
                    <div class="reviews-top__content">
                        Обратился к Ирине с нетривиальной задачей, нужно было не только перевести текст, но и найти
                        информацию о производителе и составе продукта. Специалист блестяще справился
                        с задачей, в течение одного дня я получил результат. Благодарю за творческий подход к поручению!
                        Если вы читаете этот отзыв и ищете переводчика с китайского, то смело обращайтесь, не пожалеете.
                    </div>
                </div>
                <div class="reviews-top__footer">
                    <div class="reviews-top__image">
                        <img src="assets/images/reviews-top/woman.png" alt=""/>
                    </div>
                    <div class="reviews-top__text">
                        <a href="#" class="reviews-top__specialist">Ирина Ильина</a>
                        <div class="reviews-top__rating">
                            <i class="rating"></i>
                            <span class="rating__item">4.9</span>
                            <span class="rating__count">(201 отзыв)</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="reviews-top__item">
                <div class="reviews-top__group">
                    <div class="reviews-top__header">
                        <span class="reviews-top__name">Дарина Дарвиш</span>
                        <span class="reviews-top__specialty">Гид-переводчик с английского на корейский</span>
                    </div>
                    <div class="reviews-top__content">
                        Слава выполнил на отлично сложную
                        и ответственную работу. Приезжала спортивная делигация из Кореи
                        из федерации Хапкидо. Слава
                        переводил на экскурсии с английского
                        на корейский, причем экскурсия была
                        на военную тематику. Корейская сторона была приятна удивлена как качеством перевода так и личностью переводчика. Слава приятный и лёгкий
                        в общении человек и к тому же профессионал своего дела. Все довольны. Однозначно 5. Благодарю
                        за отлично выполненную работу.
                    </div>
                </div>
                <div class="reviews-top__footer">
                    <div class="reviews-top__image">
                        <img src="assets/images/reviews-top/woman.png" alt=""/>
                    </div>
                    <div class="reviews-top__text">
                        <a href="#" class="reviews-top__specialist">Ирина Ильина</a>
                        <div class="reviews-top__rating">
                            <i class="rating"></i>
                            <span class="rating__item">4.9</span>
                            <span class="rating__count">(201 отзыв)</span>
                        </div>
                    </div>
                </div>
            </div>



            <div class="reviews-top__item">
                <div class="reviews-top__group">
                    <div class="reviews-top__header">
                        <span class="reviews-top__name">Дарина Дарвиш</span>
                        <span class="reviews-top__specialty">Гид-переводчик с английского на корейский</span>
                    </div>
                    <div class="reviews-top__content">
                        Слава выполнил на отлично сложную
                        и ответственную работу. Приезжала спортивная делигация из Кореи
                        из федерации Хапкидо. Слава
                        переводил на экскурсии с английского
                        на корейский, причем экскурсия была
                        на военную тематику. Корейская сторона была приятна удивлена как качеством перевода так и личностью переводчика. Слава приятный и лёгкий
                        в общении человек и к тому же профессионал своего дела. Все довольны. Однозначно 5. Благодарю
                        за отлично выполненную работу.
                    </div>
                </div>
                <div class="reviews-top__footer">
                    <div class="reviews-top__image">
                        <img src="assets/images/reviews-top/woman.png" alt=""/>
                    </div>
                    <div class="reviews-top__text">
                        <a href="#" class="reviews-top__specialist">Ирина Ильина</a>
                        <div class="reviews-top__rating">
                            <i class="rating"></i>
                            <span class="rating__item">4.9</span>
                            <span class="rating__count">(201 отзыв)</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="reviews-top__item">
                <div class="reviews-top__group">
                    <div class="reviews-top__header">
                        <span class="reviews-top__name">Александра Козлова</span>
                        <span class="reviews-top__specialty">Синхронный перевод с турецкого на русский</span>
                    </div>
                    <div class="reviews-top__content">
                        Сергей замечательный переводчик
                        и человек! Осуществлял устный перевод
                        с турецкого на фестивале искусства. Никаких нареканий к работе, перевод, коммуникация на высшем
                        уровне, очень помог во всем. Работать с Сергеем одно удовольствие, уверена, обратимся
                        к нему еще не раз. И организаторы фестиваля и художник очень благодарны за его работу.
                    </div>
                </div>
                <div class="reviews-top__footer">
                    <div class="reviews-top__image">
                        <img src="assets/images/reviews-top/man.png" alt=""/>
                    </div>
                    <div class="reviews-top__text">
                        <a href="#" class="reviews-top__specialist">Сергей Валиев</a>
                        <div class="reviews-top__rating">
                            <i class="rating"></i>
                            <span class="rating__item">4.9</span>
                            <span class="rating__count">(201 отзыв)</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="reviews-top__item">
                <div class="reviews-top__group">
                    <div class="reviews-top__header">
                        <span class="reviews-top__name">Татьяна Ярошенко</span>
                        <span class="reviews-top__specialty">Перевод текста с китайского на русский</span>
                    </div>
                    <div class="reviews-top__content">
                        Обратился к Ирине с нетривиальной задачей, нужно было не только перевести текст, но и найти
                        информацию о производителе и составе продукта. Специалист блестяще справился
                        с задачей, в течение одного дня я получил результат. Благодарю за творческий подход к поручению!
                        Если вы читаете этот отзыв и ищете переводчика с китайского, то смело обращайтесь, не пожалеете.
                    </div>
                </div>
                <div class="reviews-top__footer">
                    <div class="reviews-top__image">
                        <img src="assets/images/reviews-top/woman.png" alt=""/>
                    </div>
                    <div class="reviews-top__text">
                        <a href="#" class="reviews-top__specialist">Ирина Ильина</a>
                        <div class="reviews-top__rating">
                            <i class="rating"></i>
                            <span class="rating__item">4.9</span>
                            <span class="rating__count">(201 отзыв)</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--end reviews-top-->