<!--service-top-->
<div class="service-top">
    <div class="container">
        <div class="service-top__title">
            <h2 class="service-top__h2">Или выберите нужную категорию</h2>
        </div>

        <div class="service-top__list">

            <div class="service-top__item big left">
                <div class="service-top__left">
                    <h3 class="service-top__h3">Единый сервис</h3>
                    <p class="service-top__text">
                        Мы отобрали квалифицированных переводчиков разной специализации, всего, наши эксперты работают
                        со 129 языками и в 40 разных отраслях.
                    </p>
                </div>
                <div class="service-top__right glob">
                    <picture>
                        <source srcset="assets/images/service-top/glob-mobile.png" type="image/png" media="(max-width: 991px)">
                        <img src="assets/images/service-top/glob.png" alt=""/>
                    </picture>
                </div>
            </div>

            <div class="service-top__item small right">
                <div class="service-top__left full">
                    <h3 class="service-top__h3">Помогаем бизнесу<br>
                        и частным клиентам</h3>
                    <p class="service-top__text">
                        Частные пользователи, собственники, руководители и менеджеры всех отраслей доверяют нашим
                        переводчикам.
                    </p>
                </div>
            </div>

            <div class="service-top__item small left">
                <div class="service-top__left full">
                    <h3 class="service-top__h3">Служба качества</h3>
                    <p class="service-top__text">
                        Переводчики проходят собеседования с экспертами и подтверждают квалификацию.
                        А также, мы отстраняем от работы на сайте переводчиков с низким рейтингом.
                    </p>
                </div>
            </div>

            <div class="service-top__item big right primary">
                <div class="service-top__left primary">
                    <h3 class="service-top__h3">Оплата после результата</h3>
                    <p class="service-top__text">
                        Оплачивайте заказ после результата любым удобным способом: оплата безналичными, электронными
                        деньгами или с расчетного счета.
                    </p>
                </div>
                <div class="service-top__right check">
                    <img src="assets/images/service-top/check.png" alt=""/>
                </div>
            </div>

        </div>
    </div>
</div>
<!--end service-top-->