<!--find-translator--->
<div class="find-translator --desc">
    <div class="container">
        <div class="find-translator__title">
            <h2 class="find-translator__h2">Найдите переводчика за несколько минут</h2>
        </div>
        <div class="slider">

            <div class="slider__info">
                <div class="info-wrapper">

                    <div class="slider__info_item">
                        <div class="slider__bar">
                            <div class="slider__progress"></div>
                        </div>
                        <div class="slider__text">
                            <div class="slider__h3">
                                <h3>Найдите переводчика</h3>
                            </div>
                            <div class="slider__subtitle">
                                На главной странице укажите вид перевода, город, языковую пару и нажмите «Найти
                                переводчика». Или,
                                если у вас более комплексный заказ, то — создайте свой, и специалисты откликнутся сами.
                            </div>
                        </div>
                    </div>


                    <div class="slider__info_item">
                        <div class="slider__bar">
                            <div class="slider__progress"></div>
                        </div>
                        <div class="slider__text">
                            <div class="slider__h3">
                                <h3>Добавьте информацию</h3>
                            </div>
                            <div class="slider__subtitle">
                                Чем больше информации вы предоставите, тем лучше подготовится переводчик. По-этому,
                                точно опишите работу и загрузите доп. материалы, после создайте заявку и ждите отклика
                                переводчиков.
                            </div>
                        </div>
                    </div>

                    <div class="slider__info_item">
                        <div class="slider__bar">
                            <div class="slider__progress"></div>
                        </div>
                        <div class="slider__text">
                            <div class="slider__h3">
                                <h3>Выберите исполнителя</h3>
                            </div>
                            <div class="slider__subtitle">
                                Заинтересованные переводчики предложат вам свои услуги. Оцените портфолио переводчика, а
                                также рейтинг, цену, отзывы других заказчиков и выберите лучшее предложение.
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="slider__content">
                <div class="content-wrapper">

                    <div class="slider__content_item">
                        <div class="slider__image">
                            <picture>
                                <img src="assets/images/slider/slide1.png" alt=""/>
                            </picture>
                        </div>
                    </div>

                    <div class="slider__content_item">
                        <div class="slider__image">
                            <picture>
                                <img src="assets/images/slider/slide2.png" alt=""/>
                            </picture>
                        </div>
                    </div>

                    <div class="slider__content_item">
                        <div class="slider__image">
                            <picture>
                                <img src="assets/images/slider/slide3.png" alt=""/>
                            </picture>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>

<div class="find-translator --mobile">
    <div class="container">
        <div class="find-translator__title">
            <h2 class="find-translator__h2">Найдите переводчика за несколько минут</h2>
        </div>
        <div class="slider">

            <div class="slider__info_mobile">
                <div class="info-wrapper_mobile">

                    <div class="slider__info_item_mobile">
                        <div class="slider__image">
                            <picture>
                                <img src="assets/images/slider/slide1.png" alt=""/>
                            </picture>
                        </div>
                        <div class="slider__text">
                            <div class="slider__h3">
                                <h3>Найдите переводчика</h3>
                            </div>
                            <div class="slider__subtitle">
                                На главной странице укажите вид перевода, город, языковую пару и нажмите «Найти
                                переводчика». Или,
                                если у вас более комплексный заказ, то — создайте свой, и специалисты откликнутся сами.
                            </div>
                        </div>
                    </div>


                    <div class="slider__info_item_mobile">
                        <div class="slider__image">
                            <picture>
                                <img src="assets/images/slider/slide2.png" alt=""/>
                            </picture>
                        </div>
                        <div class="slider__text">
                            <div class="slider__h3">
                                <h3>Добавьте информацию</h3>
                            </div>
                            <div class="slider__subtitle">
                                Чем больше информации вы предоставите, тем лучше подготовится переводчик. По-этому,
                                точно опишите работу и загрузите доп. материалы, после создайте заявку и ждите отклика
                                переводчиков.
                            </div>
                        </div>
                    </div>

                    <div class="slider__info_item_mobile">
                        <div class="slider__image">
                            <picture>
                                <img src="assets/images/slider/slide3.png" alt=""/>
                            </picture>
                        </div>
                        <div class="slider__text">
                            <div class="slider__h3">
                                <h3>Выберите исполнителя</h3>
                            </div>
                            <div class="slider__subtitle">
                                Заинтересованные переводчики предложат вам свои услуги. Оцените портфолио переводчика, а
                                также рейтинг, цену, отзывы других заказчиков и выберите лучшее предложение.
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
<!--end find-translator--->