<div class="step-element" id="step-2">
    <div class="step-element__count">2 из 3</div>
    <h3 class="step-element__title">Подробно опишите задачу</h3>
    <div class="form-step_label">Место оказания услуги</div>
    <form action="#" class="form-step" id="form-step-2">

        <div class="form-step__tabs">
            <div class="form-step__tab">По адресу</div>
            <div class="form-step__tab">Удаленно</div>
        </div>


        <div class="form-step__content">
            <div class="form-step__group dropdown-group">
                <i class="dropdown"></i>
                <label for="form-step__original">Адрес</label>
                <input id="form-step__original" type="text" name="form-step__original"
                       class="form-step__original dropdown"/>
            </div>


            <hr>

            <div class="step-element__text">
                Выберите дату или период выполнения услуги, также укажите общее количество рабочих часов, минимальное
                время
                работы — 3 часа
            </div>

            <div class="form-step__date">
                <div class="form-step__group">
                    <i class="date-start"></i>
                    <label for="form-step__date_start">Дата начала</label>
                    <input id="form-step__date_start" type="date" name="form-date-start"
                           class="form-step__original date"/>
                </div>

                <div class="form-step__group date-group">
                    <i class="date-end"></i>
                    <label for="form-step__date_end">Дата окончания</label>
                    <input id="form-step__date_end" type="date" name="form-date-end"
                           class="form-step__original date"/>
                </div>
            </div>
        </div>


        <div class="form-step__content">
            <div class="form-step__group dropdown-group">
                <i class="dropdown"></i>
                <label for="form-step__originals">Адрес</label>
                <input id="form-step__originals" type="text" name="form-step__original"
                       class="form-step__original dropdown"/>
            </div>
        </div>
    </form>


</div>
<div class="step-element__btn">
    <button type="button" class="btn tertiary big prev">
        Вернуться к деталям перевода
    </button>
    <button type="button" class="btn primary big next">
        К следующему шагу
    </button>
</div>