<div class="step-element" id="step-3">
    <div class="step-element__count">3 из 3</div>
    <div class="row">
        <div class="step-element__flex">
            <h3 class="step-element__title">Представьтесь, пожалуйста</h3>
            <div class="form-step_label">Укажите контактные данные, чтобы получать предложения переводчиков</div>
            <form action="#" class="form-step" id="form-step-3">
                <div class="form-step__group">
                    <label for="form-step__name">Как к вам обращаться</label>
                    <input id="form-step__name" type="text" name="form-step__name"
                           class="form-step__name"/>
                </div>
                <div class="form-step__group">
                    <label for="form-step__phone">Почта или номер телефона</label>
                    <input id="form-step__phone" type="text" name="form-step__phone"
                           class="form-step__phone"/>
                </div>
            </form>
        </div>
        <div class="step-element__flex">
            <h3 class="step-element__title">Или авторизуйтесь</h3>
            <div class="form-step_label">Войдите или зарегистрируйтесь, чтобы не потерять задания и увидеть историю
                заказов
            </div>
            <button type="button" class="btn big secondary">Войти в аккаунт</button>
        </div>
    </div>

</div>
<div class="step-element__btn">
    <button type="button" class="btn tertiary big prev">
        Вернуться к описанию заказа
    </button>
    <button type="button" class="btn primary big create">
        Создать заказ
    </button>
</div>